/* Cascading Style Sheet */
/* 선택자(selector) */

#header-center {
    margin: 0 auto;
    width: 1080px;
}

/* 자식태그 #header-search > h1 { } */
/* 자손태그 #header-center h1 { } */
#header-search > h1 {
    width:280px;
    display:inline-block;
}

/* 검색엔진이 두번째로 중요한 컨텐츠임을 알게 하기위해 h2를 입력하지만 display는 none함 */
#header-search > h2 {
    display:none;
}

#header-search > fieldset {
    width:520px;
    display:inline-block;
}

/* blind 속성을 이용해 스크린리더에게만 읽히게 하고 화면은 none */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}